html,
body {
  height: 100%;
}

body {
  display: flex;
  color: white;
  background-color: #000; /* ou alguma imagem de fundo que quiser */
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: white;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contato {
  padding: 2rem 0;
}

#contato h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#contato p {
  margin-bottom: 0.4rem;
}

